@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}
:root{
  --dark:#131313;
  --dark-gray:#424242;
  --light-gray:#727272;
  --white-color:#ffffff;
  --orange-color:#FF900E;
  --light-orange:#fff4e6;
}

header{
  background-color: var(--light-orange);
  padding: 0 150px;
}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand-name{
  font-weight: 700;
  font-size: 2.5rem;
  text-decoration: underline;
}

.navbar ul{
  display: flex;
  gap:40px
}

.nav-item{
  display: flex;
  list-style: none;
  font-size: 18px;
  font-weight: 700;
}

.nav-link{
text-decoration: none;
font-weight: 600;
font-size: 18px;
color: var(--dark-gray);

}

.navbar , .banner{
  max-width: 1440px;
  margin: 0 auto;
}

.banner-content{
  padding-top: 20px;
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}

.banner-title{
  font-weight: 700;
  font-size: 4rem;
  margin:0 20px;
}
.banner-decription{
  font-size: 17px;
  font-weight: 400;
}

.banner-image{
  width: 100%;
}

.btn-primary{
  background-color: var(--orange-color);
  color: var(--white-color);
  padding: 20px 25px;
  font-size: 1.25rem;
  font-weight: 600;
  border-radius: 8px;
  border: none;
  margin-top: 15px;
}

/*responsive media query*/
@media  screen and (max-width: 576px) {
  header{
    padding: 0 20px;
  }
  ul{
    padding-top: 20px;
  }
  .navbar {
    flex-direction: column-reverse;
  }

  .brand-name{
    margin: 15px;
  }

  .teams{
    flex-direction: column;
  }
}


main{
  max-width: 1440px;
  margin: 0 auto;
}



.teams{
  display: flex;
  align-items: center;
  max-width: 1440px;
  padding: 0 130px;
  margin-top: 130px;
}

.team-img-container{

  display:grid ;
  grid-template-columns: repeat(2 , 1fr);
  margin-right: 30px;
  gap: 20px;
}
.team-img-container img{
  width: 260px;
}
.our-features{
  
}

.our-features h3{
  font-size: 2.5rem;
  padding-bottom: 10px;
}

.our-features p{
  padding-bottom: 20px;
}

/*responsive media query*/
@media  screen and (max-width: 576px) {

  .teams{
    flex-direction: column;
    padding: 0 20px;
  }
  .team-img-container{
    grid-template-columns: repeat(1, 1fr);
    margin-right: 0;
  }
  .our-features{
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    
  }
  .team-img-container {
    width: 80%;
  }

  .team-img-container img {
    width: 100%;
  }
  .feature-title{
    margin-top: 20px;
    text-align: center;
  }
}


/*medium size device*/
@media screen and (min-width: 576px) and (max-width: 992px) {
  .teams{
    flex-direction: column;
    padding: 0 30px;
  }
  .our-features{
    margin-top: 30px;
    text-align: center;
  }
}